body{ 
    margin: 0;
    padding: 0;  
    width: 100%;                                           
    background-color: white;
 }

#left-column{
   width: 50%;
   float: left;
   background: url("images/closet.jpg");
   background-size: contain;
}

#right-column{
   width: 50%;
   height: 100vh;
   float: right;
   display: flex;
   justify-content: center;
}

#right-column img {
    z-index: -1;
}

img#logo{
    position:fixed;
    width:150px;
    bottom:20px;
    right:10px
}

#top1 {
    width: 300px;
}

#top2 {
    width: 300px;
}

#top3 {
    width: 300px;
}

#top4 {
    width: 320px;
}

#top5 {
    width: 300px;
}

#top6 {
    width: 320px;
}

#bottom3 {
    width: 250px;
}

#bottom4 {
    width: 280px;
}

#bottom5 {
    width: 400px;
}

#bottom6 {
    width: 250px;
}

#dress1 {
    width: 430px;
}

#dress3 {
    width: 400px;
}

#dress4 {
     width: 460px;
}

#hat1 {
    width: 100px;
}

#hat2 {
    width: 200px;
}

#hair1, #hair2, #hair3, #hair4, #hair5, #hair6 {
    width: 150px;
}
