body{ 
    margin: 0;
    padding: 0;  
    width: 100%;                                           
    background-color: white;	    
 }

#left-column{
   width: 50%;
   height: 100vh;
   float: left;
   background-color:aqua;     
}

#right-column{
   width: 50%;
   height: 100vh;
   float: right;
}

#right-column img{
     width:230px;
     margin-left:300px;
     margin-top:230px;
}

img#logo{
    position:fixed;
    width:150px;
    bottom:20px;
    right:10px
}
